
<!-- ----- début fragmentCaveMenu -->

<nav class="navbar navbar-expand-lg bg-warning fixed-top">
  <div class="container-fluid">
    <a class="navbar-brand" href="router1.php?action=patrimoineAccueil">CHIVAS - RUBAGOTTI</a>
    <a class="navbar-brand" href="router1.php?action=patrimoineAccueil">CLIENT</a>
    <a class="navbar-brand" href="router1.php?action=patrimoineAccueil"></a>

    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" 
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

  </div>
</nav> 

<!-- ----- fin fragmentCaveMenu -->

